@model IEnumerable<SheduleViewModel>
@using DPTS.Web.Models
@{
    ViewBag.Title = "My Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("AccountNavigation");}
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
                <div class="tg-docschedule tg-haslayout">
                    <div class="tg-heading-border tg-small">
                        <h3>update Schedule</h3>
                    </div>
                    <p><strong>Note: Leave fields empty to show  day closed.</strong></p>
@using (Html.BeginForm("DoctorSchedules", "Doctor", FormMethod.Post, new {id = "form-docschedule", @class = "form-docschedule"}))
{
        <fieldset class="row">
            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>@item.Day</label>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='s1_@item.Day.ToLower()'>
                                        <input type='text' name="@item.Day.ToLower()_S1start" class="form-control schedule-pickrs" value="@item.SessionOneStartTime" placeholder="session 1 start time" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='e1_@item.Day.ToLower()'>
                                        <input type='text' name="@item.Day.ToLower()_E1end" class="form-control schedule-pickrs" value="@item.SessionOneEndTime" placeholder="session 1 end time" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='s2_@item.Day.ToLower()'>
                                        <input type='text' name="@item.Day.ToLower()_S2start" class="form-control schedule-pickrs" value="@item.SessionTwoStartTime" placeholder="session 2 start time" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='e2_@item.Day.ToLower()'>
                                        <input type='text' name="@item.Day.ToLower()_E2end" class="form-control schedule-pickrs" value="@item.SessionTwoEndTime" placeholder="session 2 end time" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr />

                        </div>
                    </div>
                        </div>
                </div>

            }
                <button type="submit" class="tg-btn pull-left">update</button>
        </fieldset>
}
</div>
<script>
    jQuery(document).ready(function (e) {
        //Time Picker
        jQuery('.schedule-pickrs').datetimepicker({
            datepicker: false,
            format: 'H:i'
        });
    });
</script>
            </div>
        </div>
    </div>
</main>
