<!-- ====================================================
header section -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 header-logo">
                <br>
                <a href="index.html"><img src="~/Content/Cust_Content/img/logo.png" alt="" class="img-responsive logo"></a>
            </div>
            <div class="col-md-9">
                <nav class="navbar navbar-default">
                    <div class="container-fluid nav-bar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menu active" href="#home">Home</a></li>

                                <li><a class="menu" href="#about">about us</a></li>
                                <li><a class="menu" href="#Location">Location</a></li>
                                <li><a class="menu" href="#service">our services </a></li>
                                <li><a class="menu" href="#Speciality">Speciality </a></li>
                                <li><a class="menu" href="#team">our team</a></li>
                                <li><a class="menu" href="#contact"> contact us</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                    </div><!-- / .container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header> <!-- end of header area -->
@*<header id="header" class="tg-haslayout tg-inner-header">
    <div class="doc-topbar doc-topbar-v1 doc-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="doc-contactweb"><p>Contact for any query: 1 - 12345 678 - 9 Or <a href="#">contact@dpts.com</a></p></span>
                    <div class="doc-languages">
                        @Html.Partial("_LoginPartial")*@

@*<ul class="tg-socialicon">
        <li>
            <a target="_blank" href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="#">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>*@
@*</div>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tg-navigationarea">
                    <strong class="logo">
                        <a class="" href="@Url.Action("Index","Home")"><img class="" src="~/Content/wp-content/themes/docdirect/images/logo.png" alt="DocDirect"></a>
                    </strong>
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="tg-navigation">
                            <ul id="menu-main-menu" class="">
                                <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                    <a href="@Url.Action("TopFilter","Home",new { searchCriteria = "Appoinment"})">Book Appoinment</a>
                                </li>
                                <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                    <a href="@Url.Action("TopFilter","Home",new { searchCriteria = "VideoChat"})">Video Chat</a>
                                </li>
                                <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                    <a href="@Url.Action("TopFilter","Home",new { searchCriteria = "CallConsult"})">Call A Doctor</a>
                                </li>
                                <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                    <a href="@Url.Action("TopFilter","Home",new { searchCriteria = "EmailConsult"})">Email Consult</a>
                                </li>
                             </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>*@
@*</header>*@
